Repository beholdenkey/terraform-harvester-vm, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/infra, area/ci, area/docs, renovate/github-action, renovate/terraform, renovate/pre-commit

docs: update harvester version to 0.6.6 and add new network input parameters
  modules/harvester-vm-network/README.md
Labels: area/docs

docs: update harvester version to 0.6.6 in README.md
  modules/harvester-vm-image/README.md
Labels: area/docs

docs: update harvester version to 0.6.6 in harvester-vm README.md and adjust input parameters
  modules/harvester-vm/README.md
Labels: area/docs

chore: remove modules section from harvester-vm-network Terraform docs configuration
  modules/harvester-vm-network/.terraform-docs.yaml
Labels: none

chore: update required Terraform version to 1.5.5 in harvester-vm modules
  modules/harvester-vm-image/versions.tf
  modules/harvester-vm-network/versions.tf
  modules/harvester-vm/versions.tf
Labels: area/infra, renovate/terraform

feat: add new network variables for route configuration in harvester-vm-network module
  modules/harvester-vm-network/variables.tf
Labels: area/infra, renovate/terraform

feat: add route configuration variables to harvester-vm-network module
  modules/harvester-vm-network/main.tf
Labels: area/infra, renovate/terraform

feat: make disk variables optional in harvester-vm module and add default for user_data
  modules/harvester-vm/variables.tf
Labels: area/infra, renovate/terraform

feat: make disk attributes optional and update cloudinit configuration in harvester-vm module
  modules/harvester-vm/main.tf
Labels: area/infra, renovate/terraform

chore: update release version to 1.3.0 in release-please-manifest.json
  release-please-manifest.json
Labels: none

feat: add custom words to cspell configuration for virtio and almalinux
  cspell.config.yaml
Labels: none

chore: downgrade release version to 1.2.0 in release-please-manifest.json
  release-please-manifest.json
Labels: none

chore: remove tfupdate from pre-commit configuration
  .pre-commit-config.yaml
Labels: area/ci, renovate/pre-commit

chore: update required Terraform version to 1.6.5 in all modules
  modules/harvester-vm-image/versions.tf
  modules/harvester-vm-network/versions.tf
  modules/harvester-vm/versions.tf
  versions.tf
Labels: area/infra, renovate/terraform

feat: add network routing variables and update VM disk variable to support optional fields
  variables.tf
Labels: area/infra, renovate/terraform

feat: add routing configuration variables to harvester VM network module
  main.tf
Labels: area/infra, renovate/terraform

docs: add network route configuration variables to README
  README.md
Labels: area/docs

feat: improve module (#45)
  .pre-commit-config.yaml
  README.md
  cspell.config.yaml
  example
  main.tf
  modules/harvester-vm-image/.terraform-docs.yaml
  modules/harvester-vm-image/README.md
  modules/harvester-vm-image/versions.tf
  modules/harvester-vm-network/.terraform-docs.yaml
  modules/harvester-vm-network/README.md
  modules/harvester-vm-network/main.tf
  modules/harvester-vm-network/variables.tf
  modules/harvester-vm-network/versions.tf
  modules/harvester-vm/.terraform-docs.yaml
  modules/harvester-vm/README.md
  modules/harvester-vm/main.tf
  modules/harvester-vm/variables.tf
  modules/harvester-vm/versions.tf
  terragrunt.hcl
  variables.tf
Labels: area/infra, area/ci, area/docs, renovate/terraform, renovate/pre-commit

.github/labeler.yaml:

---
area/infra:
  - changed-files:
      - any-glob-to-any-file: "**/*.tf"
      - any-glob-to-any-file: "**/*.hcl"
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
      - any-glob-to-any-file: ".pre-commit-config.yaml"
area/docs:
  - changed-files:
      - any-glob-to-any-file: "**/*.md"
renovate/github-action:
  - changed-files:
      - any-glob-to-any-file: ".github/actions/**/*"
renovate/terraform:
  - changed-files:
      - any-glob-to-any-file: "**/*.tf"
renovate/pre-commit:
  - changed-files:
      - any-glob-to-any-file: ".pre-commit-config.yaml"
