Repository beholdenkey/terraform-harvester-vm, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/infra, area/ci, area/docs, renovate/github-action, renovate/terraform, renovate/pre-commit

.github/labeler.yaml:

---
area/infra:
  - changed-files:
      - any-glob-to-any-file: "**/*.tf"
      - any-glob-to-any-file: "**/*.hcl"
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
      - any-glob-to-any-file: ".pre-commit-config.yaml"
area/docs:
  - changed-files:
      - any-glob-to-any-file: "**/*.md"
renovate/github-action:
  - changed-files:
      - any-glob-to-any-file: ".github/actions/**/*"
renovate/terraform:
  - changed-files:
      - any-glob-to-any-file: "**/*.tf"
renovate/pre-commit:
  - changed-files:
      - any-glob-to-any-file: ".pre-commit-config.yaml"

chore(deps): bump pre-commit hooks
  .pre-commit-config.yaml
Labels: area/ci, renovate/pre-commit

style(terraform): apply formatting
  .github/renovate.json
Labels: area/ci

refactor(ci): refactor release process
  .github/workflows/release.yaml
  .github/workflows/tag-and-release.yaml
  .releaserc.json
  CHANGELOG.md
  release-please-config.json
  release-please-manifest.json
  renovate.json
Labels: area/ci, area/docs

style(docs): apply formatting
  CHANGELOG.md
Labels: area/docs

ci: update renovate config
  .github/renovate.json
Labels: area/ci

chore(deps): bump minimum terraform version
  versions.tf
Labels: area/infra, renovate/terraform

chore(deps): bump version
  release-please-manifest.json
Labels: none

ci: update pre-commit-config
  .pre-commit-config.yaml
Labels: area/ci, renovate/pre-commit

chore: add .envrc for Taskfile environment variables
  .envrc
Labels: none

chore: remove Makefile section from .editorconfig
  .editorconfig
Labels: none

chore: update cspell configuration with additional dictionaries and words
  cspell.config.yaml
Labels: none

chore: add Taskfile.yaml for task management and pre-commit setup
  Taskfile.yaml
Labels: none

chore: add markdownlint configuration for linting markdown files
  .ci/markdownlint/.markdownlint.yaml
Labels: none

chore: add .markdownlintignore to exclude specific files from linting
  .ci/markdownlint/.markdownlintignore
Labels: none

chore: add yamlfmt configuration for formatting YAML files in CI
  .ci/yamlfmt/.yamlfmt
Labels: none

chore: add yamllint configuration for YAML linting in CI
  .ci/yamllint/.yamllint.yaml
Labels: none

chore: add auto_assign configuration for automatic reviewer and assignee assignment in pull requests
  .github/auto_assign.yaml
Labels: area/ci

chore: update labels.yaml to add new labels and descriptions for better issue tracking
  .github/labels.yaml
Labels: area/ci

chore: add auto-assign workflow for automatic reviewer assignment on pull requests
  .github/workflows/assign.yaml
Labels: area/ci

chore: remove issue assignment workflow from GitHub Actions
  .github/workflows/issues.yaml
Labels: area/ci

chore: add Taskfile for managing pre-commit hooks and spell checking
  .taskfiles/PreCommit/Taskfile.yaml
Labels: none

chore: update cspell configuration with additional custom words for spell checking
  cspell.config.yaml
Labels: none

chore: update .terraform-docs.yaml to include markdown table formatter
  .terraform-docs.yaml
Labels: none

chore: add funding information for GitHub sponsorship
  .github/FUNDING.yaml
Labels: area/ci

chore: update actions/checkout and EndBug/label-sync versions in label-sync workflow
  .github/workflows/label-sync.yaml
Labels: area/ci

chore: add YAML front matter to workflow and documentation files
  .github/workflows/pre-commit.yaml
  .github/workflows/tag-and-release.yaml
  modules/harvester-vm-image/.terraform-docs.yaml
  modules/harvester-vm-network/.terraform-docs.yaml
  modules/harvester-vm/.terraform-docs.yaml
Labels: area/ci

docs: update provider version
  modules/harvester-vm-image/README.md
  modules/harvester-vm-network/README.md
  modules/harvester-vm/README.md
Labels: area/docs

style: format tables
  README.md
Labels: area/docs

docs: update requirements
  README.md
Labels: area/docs

style: format tables
  README.md
Labels: area/docs

chore: update Renovate configuration and enable automerge features
  .github/renovate.json
  cspell.config.yaml
Labels: area/ci

ci: add workflow
  .github/workflows/security.yaml
  cspell.config.yaml
Labels: area/ci

chore: improve ci (#31)
  .ci/markdownlint/.markdownlint.yaml
  .ci/markdownlint/.markdownlintignore
  .ci/yamlfmt/.yamlfmt
  .ci/yamllint/.yamllint.yaml
  .editorconfig
  .envrc
  .github/FUNDING.yaml
  .github/auto_assign.yaml
  .github/labels.yaml
  .github/renovate.json
  .github/workflows/assign.yaml
  .github/workflows/issues.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/security.yaml
  .github/workflows/tag-and-release.yaml
  .pre-commit-config.yaml
  .taskfiles/PreCommit/Taskfile.yaml
  .terraform-docs.yaml
  README.md
  Taskfile.yaml
  cspell.config.yaml
  modules/harvester-vm-image/.terraform-docs.yaml
  modules/harvester-vm-image/README.md
  modules/harvester-vm-network/.terraform-docs.yaml
  modules/harvester-vm-network/README.md
  modules/harvester-vm/.terraform-docs.yaml
  modules/harvester-vm/README.md
Labels: area/ci, area/docs, renovate/pre-commit

ci: fix labels.yaml
  .github/labels.yaml
Labels: area/ci

ci: fix labels.yaml (#33)
  .github/labels.yaml
Labels: area/ci

chore(deps): update pre-commit hooks for Terraform and Terragrunt
  .pre-commit-config.yaml
  cspell.config.yaml
Labels: area/ci, renovate/pre-commit

chore: remove deprecated example configuration and add new Terragrunt setup
  example
  terragrunt.hcl
Labels: area/infra

chore: update required Terraform version from 1.6.5 to 1.5.5
  versions.tf
Labels: area/infra, renovate/terraform

chore: remove modules section from Terraform docs configuration
  modules/harvester-vm/.terraform-docs.yaml
Labels: none

chore: remove modules section from harvester-vm-image Terraform docs configuration
  modules/harvester-vm-image/.terraform-docs.yaml
Labels: none
