Repository beholdenkey/terraform-harvester-vm, pull requests merged in 2023-11, with the labels that each got.

#4 fix: default value should be null
  modules/harvester-vm-image/variables.tf
Labels: bug

#6 feat: add diagram workflow
  .github/workflows/diagram.yaml
  README.md
Labels: documentation

#7 fix: renovate configuration
  renovate.json
Labels: enhancement
